.App {
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  overflow-y: hidden;
  overflow-x: hidden;
}

.main-content {
  display: flex;
  flex-direction: column;
  flex-grow: 1;
  /* transform: translateY(68px); */
}

.footer {
  width: 100%;
  background-color: #000;
}
