@import url("https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,100..900;1,100..900&display=swap");
@import url('https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,100..900;1,100..900&display=swap');

* {
  font-family: 'Montserrat', sans-serif;
}

body {
  font-family: 'Montserrat', sans-serif;
}

.page {
  height: 100%;
  // max-width: 1140px;
  // margin: 0 auto;
  min-height: 100vh;
  background-color: #091327 !important;
  display: flex;
  flex-direction: column;
  flex-grow: 1;
}

.sub-header {
  width: 100%;
  background-color: transparent;
  transition: background-color 0.5s ease, padding 0.3s ease;
  .sub-header-wrapper {
    width: 100%;
    height: 100%;
    display: flex;
    // justify-content: center;
    padding: 0 4%;
    align-items: center;
    .sub-header-title {
      font-size: 38px;
      font-weight: 500;
      line-height: 38px;
      margin-right: 15px;
    }
  }
}
