.table-header-container {
    display: flex;
    flex-direction: row;
    color: #6b6b6b;
    font-size: 15px;
    width: 75vw;
    height: 20px;
    align-items: center;
    justify-content: space-between;
    margin: 10px 30px;

    .table-header {
        padding: 0 10px; 
        border-left: 2px solid #000;
    }
}

